.menu-container {
    position: relative;
}

.menu-container nav {
    text-align: center;
}

.menu {
    background: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 60px;
    right: -10px;
    width: 100vw;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    display: none;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    display: inherit;
    transform: translateY(0);
}

.menu a {
    border-bottom: 1px solid #dddddd;
}

.menu a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
}

.menu-trigger {
    border-radius: 90px;
    cursor: pointer;
    padding: 7.5px 15px;
    font-size: large;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    transition: box-shadow 0.4s ease;
}

.menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}